*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.flex{
    display: flex;
    align-items: center;
}

.mainContainer{
    display: flex;
    height: auto;
    width: 100%;
    background-color: #d7e6f3;
}


.firstContainer{
    display: none;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: auto;
    background-color: #323641;
}

.firstContainer ul li{
    list-style: none;
    color: #5c6271;
    font-size: 15px;
    width: 100%;
}

.subSection{
    display: none;
}

.listHead:hover{
    background-color: #353942;
    color: white;
    cursor: pointer;
}

.listHead:hover .subSection{
    display: block;
    background-color: #353942;
}

.icons{
    margin-right: 5px;
    color: #5d4f8c;
}

.listHead:hover .icons{
    color: white;
}

.list{
    width: 100%;
}

.listHead{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    position: relative;
}

.forAlign{
    display: flex;
}

.toAlign{
    display: flex;
    justify-content: space-between;
}

.listAlign{
    padding:10px 0px 0px 20px;
}

.listAlign:hover{
    background-color: #353942;
    color: white;
    cursor: pointer;
}

.customArrow2{
    display: none !important;
    position: absolute;
    right: 10px;
    top: 10px;
}

.listHead:hover:hover .customArrow{
    display: none;
}

.listHead:hover:hover .customArrow2{
    display: block !important;
}

.srtdash{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;
    color: white;
    border-bottom: 1px solid black;
    font-size: 15px;
}

.secondContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.menuBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: white;
    color: #8a8788;
    padding: 10px;
}

.menuIcon{
    display: flex;
    font-size: 23px;
    
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 160px;
    border-radius: 50px 50px 50px 50px;
    background-color: #e5e4e7;
    margin: 5px 5px 5px 20px;
}

.searchIcon{
    font-size: 25px;
}

.navBar{
    display: flex;
    width: 90%;
    align-items: center;
}

.tabIcon{
    display: flex; 
}

.expand{
    padding: 5px;
}

.bell{
    position: relative;
    padding: 5px;
}

.bell p{
    position: absolute;
    top: 0px;
    right: 1px;
    height: 13px;
    width: 13px;
    font-size: 11px;
    background-color: #315dca;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.mail{
    position: relative;
    padding: 5px;
}

.mail p{
    position: absolute;
    top: 0px;
    right: 1px;
    height: 13px;
    width: 13px;
    font-size: 11px;
    background-color: #315dca;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.settings{
    padding: 5px;
}


.dashboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    border-left: 5px solid #315dca;
    background-color: white;
    color: #8a8788;
    margin-top: 5px;
    padding-right: 10px;
}

.dashboard p1{
    color: #315dca;
    padding: 0 5px 0 10px;
    font-size: 13px;
}
.dashboard p {
    padding-right: 5px;
    font-size: 13px;
}

.dashboard h1{
    font-size: 23px;
}

.threeWords{
    display: flex;
    align-items: center;
    padding: 10px;
}

.indicator{
    width: 5px;
    height: 30px;
    background-color: #315dca;
}

.manIcon{
    display: flex;
    background-image:url("../exercise8/19053884601561032531-512.png");
    background-size: 100%;
    justify-self: flex-end;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.user p{
    display: none;
}

.containerBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.graphContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 675px;
    justify-content: space-evenly;
}

.bitcoin{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 90%;
    background-color: white;
    align-items: center;
    position: relative;
}

.bitCoinIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-color: #3169fb;
    border-radius: 0px 0px 150px 0px;
    color: white;
    position: absolute;
    left: 0px;
}

.line1{
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding: 20px 15px 15px 15px;
}

.line2{
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding:7px 15px 15px 15px;
}

.line1 p2{
    font-size: 13px;
    background-color: #ced2d5;
    padding: 0 5px 0 5px;
}

.line2 p2{
    font-size: 12px;
    background-color: #ced2d5;
    padding: 0px;
}

.bitcoinDash{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 90%;
    background-color: white;
    align-items: center;
    position: relative;
}

.line3{
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding: 20px 15px 15px 15px;
}

.line4{
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding:7px 15px 15px 15px;
}

.line3 p2{
    font-size: 13px;
    background-color: #ced2d5;
    padding: 0 5px 0 5px;
}

.line4 p2{
    font-size: 12px;
    background-color: #ced2d5;
    padding: 0px;
}

.euthorium{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 90%;
    background-color: white;
    align-items: center;
    position: relative;
}

.euroIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-color: #3169fb;
    border-radius: 0px 0px 150px 0px;
    color: white;
    position: absolute;
    left: 0px;
}

.line5{
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding: 20px 15px 15px 15px;
}

.line6{
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding:7px 15px 15px 15px;
}

.line5 p2{
    font-size: 13px;
    background-color: #ced2d5;
    padding: 0 5px 0 5px;
}

.line6 p2{
    font-size: 12px;
    background-color: #ced2d5;
    padding: 0px;
}

.graphContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 440px;
    justify-content: space-between;
}

.overview{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 90%;
    background-color: white;
    align-items: center;
    position: relative;
}

.line7{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px 15px 15px 15px;
}

.line7 p2{
    font-size: 13px;
    background-color: #ced2d5;
    padding: 0 5px 0 5px;
    border: 1px solid black;
    border-radius: 10%; 
}

.fa-sort{
    padding-left: 5px;
}

.coinDistribution{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 90%;
    background-color: white;
    position: relative;
    padding: 25px;
    margin-bottom: 20px;
}

.MarketValue{
    display: none;
}

/*...............................tablet.............................*/

@media screen and (min-width: 450px)  {
    
    .graphContainer1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 1000px;
        justify-content: space-evenly;
    }

    .bitcoin{
        height: 310px;
    }

    .bitcoinDash{
        height: 310px;
    }

    .img2 {
        background-image: url(../exercise8/image1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: contain;
        height: 200px;
        width: 80%;
        margin-top: 10px;
    }

    .euthorium{
        height: 310px;
    }

    .graphContainer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 440px;
        justify-content: space-between;
        height: 650px;
    }
    .overview{
        height: 310px;
    }

    .coinDistribution{
        height: 300px;
        width: 300px;
    }

    .img1{
        background-image: url(../exercise8/image1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: contain;
        height: 200px;
        width: 80%;
        margin-top: 10px;
    }

    .img2{
        background-image: url(../exercise8/image2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: contain;
        width: 80%;
        margin-top: 10px;
    }

    .img3{
        background-image: url(../exercise8/image3.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: contain;
        height: 200px;
        width: 80%;
        margin-top: 10px;
    }

    .img4 {
        background-image: url(../exercise8/image4.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        object-fit: scale-down;
        height: 227px;
        width: 80%;
        margin-top: 20px;
    }

    .img5{
        background-image: url(../exercise8/image5.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 200px;
        width: 80%;
        margin-top: 20px;
        align-self: center;
    }

    .bitCoinIcon{
        height: 70px;
        width: 70px;
        font-size: 30px;
    }

    .euroIcon{
        height: 70px;
        width: 70px;
        font-size: 30px;
    }

    .MarketValue{
        display: none;
    }

}

/*........................................laptop.......................*/

@media screen and (min-width:901px) {

    .mainContainer{
        height: auto;
    }

    .firstContainer{
        display: flex;
    }

    .dashboard{
        padding: 0px;
    }

    .user{
        display: flex;
        align-items: center;
        height: 45px;
        background-color: #8252f7;
        color: white;
        padding: 5px 10px 5px 10px;
    }
    
    .user p{
        display: block;

    }

    .manIcon{
        margin-right: 5px;
    }

    .fa-chevron-down{
        margin-left: 5px;
    }

    .graphContainer1{
        display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       width: 100%;
       height: 232px;
    }

    .bitcoin{
        width: 31%;
        height: 200px;
    }

    .bitcoinDash{
        width: 31%;
        height: 200px;
    }

    .euthorium{
        width: 31%;
        height: 200px;
    }

    .graphContainer2{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
        height: 315px;
     }

     .overview{
         width: 69%;
         height: 300px;
     }

     .coinDistribution{
         width: 26%;
         height: 300px;
     }

    .bitCoinIcon{
     height: 45px;
     width: 45px;
     font-size: 20px;
    }

    .euroIcon{
        height: 45px;
        width: 45px;
        font-size: 20px;
    }

    .line1 p1{
        font-size: 14px;
    }
    
    .line2 p1{
        font-size: 14px;
    }
    
    .line3 p1{
        font-size: 14px;
    }
    
    .line4 p1{
        font-size: 14px;
    }
    
    .line5 p1{
        font-size: 14px;
    }
    
    .line6 p1{
        font-size: 14px;
    }

    .line1{
        width: 75%;
    }

    .line2{
        width: 75%;
    }

    .line3{
        width: 75%;
    }

    .line4{
        width: 75%;
    }

    .line5{
        width: 75%;
    }

    .line6{
        width: 75%;
    }

    .img1{
        width: 100%;
        height: 100px;
    }

    .img2{
        width: 100%;
        height: 100px;
    }

    .img3{
        width: 100%;
        height: 100px;
    }

    .img4{
        height: 227px;
    }

    .MarketValue{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 220px;
        width: 96.7%;
        background-color: white ;
    }

    .line9{
        display: flex;
        justify-content: space-between;
        width: 95%;
        padding:20px 15px 15px 15px;
    }

    .line9 p2{
        font-size: 13px;
    background-color: #ced2d5;
    padding: 0 5px 0 5px;
    border: 1px solid black;
    border-radius: 10%;
    }

    .contantTable{
        
        margin: 20px;
        width: 90%;
        border-spacing: 0px 15px;
    }

    .contantTable tr {
        background-color: #e9e3e3;
        text-align: center;
        
    }

    .contantTable th,
    .contantTable td{
        padding: 12px 15px;
    }

   .bit{
       color: #feb12c;
       font-size: 20px;
   }

   .fa-caret-down{
       color: red;
       font-size: 20px;
   }

   .fa-caret-up{
       color: lightgreen;
       font-size: 20px;
   }

   .fa-long-arrow-alt-up{
       color: lightgreen;
       font-size: 20px;
       margin-bottom: 10px;
   }
    
   .fa-long-arrow-alt-down{
       color: #d3d3d3;
       font-size: 20px;
   }

   .fa-chart-line{
       color: blue;
       font-size: 20px;
   }

}



