*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.background{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: gold;
    justify-content: center;
    align-items: center;
}

.content-sheet{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 98.6%;
    background-color: white;
    
}

.heading{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 25px;
    width: 98%;
    height: 185px;
    background-color: black;
    font-family:sans-serif;
    color:gold    
}

.headerAlign{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.hed-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 269px;
    background-color: rgb(255, 255, 255);
}

.nav-bar{
    display: flex;
    flex-direction: row;
    height: 47px;
    width: 98%;
    background-color: black;
    align-items: flex-start;
   
}

li{
    display: flex;
    align-items: flex-start;
    list-style: none;
}

a {
    height: 45px;
    width: 98%;
    text-decoration: none;
    border-right:2px solid white ;
    color: white;
    font-family:sans-serif;
    font-size: 22px;
    padding: 10px 40px 0px 40px;

}

a:hover{
    color: cyan;
    background-color: brown;
}

.discription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:sans-serif;
    width: 90%;
    height: 25%;
    align-items: flex-start;
   
}

 
.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 99%;
    color: black;
    font-family:sans-serif;
    align-self: flex-end;
}

.articles h2{
    padding-bottom: 20px;
}

.articles p{
    padding-bottom: 20px;
}

.articles h3{
    padding-bottom: 20px;
}

.articles h4{
    padding-bottom: 20px;
}

