*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.main-container{
    display: flex;
    width: 100%;
    height: 900px;
    flex-direction: column;
}

.nav-bar{  
display: flex;
width: 100%;
height: 80px;
background-color: #f1b36a;
justify-content: center;
color: white;
}

.nav-menu{
    display: flex;
    height: 80px;
    width: 70%;
    justify-content: space-between;
    font-size: 12px;
}

.heading-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:10px;
}

.menu-icon{
    display: none;
}


.list{
    display: flex;
    align-items: center;
}

.menu li{
    display: flex;
    margin: 0px 10px 0px 10px;
    height: 78px;
    width: 80px;
    align-items: center;
    justify-content: center;    
}

.menu li:hover{
    color: black;
    background-color: orangered;
}


.menu{
    display: flex;
    list-style: none;
}

.mountain{

    width:100%;
    height:400px;
    background-image: url(https://images2.minutemediacdn.com/image/upload/c_crop,h_1695,w_3011,x_0,y_305/f_auto,q_auto,w_1100/v1554929967/shape/mentalfloss/537463-istock-543183018_0.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.heading-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:#e76c00;
    mix-blend-mode:screen;
}


.first-order{
font-size: 50px;
margin-right: 7px;
}

.logos{
    display: flex;
    width: 70%;
    font-size: 60px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    top: 429px;
    margin-top: -83px;
}


.pencil-mug{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    background-color: #585451;
    z-index: 2;
    font-size: 45px;
}

.crown{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    background-color: #585451;
    z-index: 2;
    font-size: 45px;
}

.note{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    background-color: #585451;
    z-index: 2;
    font-size: 45px;
}

.dot1{
    color: #585451 ;
    font-size: 51.5px;
    z-index: 1;
    position: relative;
}

.dot1::before{
    content: '';
    position: absolute;
    width: 310px;
    left: -135px;
    bottom: 180px;
    border: 1.5px solid #585451;
    background-color: #585451;
}

.dot2{
    color: #585451 ;
    font-size: 51.5px;
    z-index: 1;
    position: relative;
}

.dot2::before{
    content: '';
    position: absolute;
    width: 300px;
    left: -135px;
    bottom: 180px;
    border: 1.5px solid #585451;
    background-color: #585451;
}


.white-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:440px;
    background-color: #ffffff;
    color: #585451;
}

.art{
    display: flex;
    flex-direction: column;
color: #585451;
    height: 110px;
    font-size: 13px;
}

.iconText{
    display: flex;
    height: 225px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.duis{
    font-size: 15px;
}

.art{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.art h1{
    font-size: 18px;
}

.template-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #f7f7f7;
}

.template{
    display: flex;
    align-items: center;
    height: 200px;
    width: 70%;
}

.image{
   
    border: 3px solid black;
    background-image: url(https://images2.minutemediacdn.com/image/upload/c_crop,h_1695,w_3011,x_0,y_305/f_auto,q_auto,w_1100/v1554929967/shape/mentalfloss/537463-istock-543183018_0.jpg);
    height: 200px;
    width: 550px;
    background-size:cover;
    background-repeat: no-repeat;
}

.text{
    margin-left: 5%;
}

.lorem{
    padding-top: 7px;
}

.button{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    padding-top: 12px;
    background-color: orange;
    color: white;
    margin-top: 5%;
}

.button:hover{
    background-color: red;
    color: black;
}


/* ...........................................laptop 1024px........................................*/

@media screen and (min-width:650px) and (max-width:1024px){

.main-container{
    height: 780px;
}

.mountain{
    height: 300px;
}

.heading-text{
    height: 310px;
    font-size: 14px;
}

.menu li{
    margin: -5px;
    width: 70px;
    height: 65px;
}

.first-order{
    font-size: 30px;
}

.heading-icon{
    font-size: 8px;
    height: 65px;
}

.nav-bar{
    height: 65px;
}

.list{
    height: 65px;
}

.logos{
    width: 70%;
    margin-top: -118px;
}

.pencil-mug{
    height: 70px;
    width: 70px;
    font-size: 40px;
}

.crown{
    height: 70px;
    width: 70px;
    font-size: 40px;
}

.note{
    height: 70px;
    width: 70px;
    font-size: 40px;
}

.dot1{
    font-size: 41px;
}

.dot2{
    font-size: 41px;
}

.dot1::before{
    border: 1px solid #585451;
    bottom: 188px;
    width: 180px;
    left: -87px;
}

.dot2::before{
    border: 1px solid #585451;
    bottom: 188px;
    width: 180px;
    left: -87px;
}

.image{
    border: 1px solid black;
    height: 130px;
    width: 600px;
}

.template h1{
    font-size: 20px;
}

.lorem{
font-size: 11px;
}

.template{
    height: 143px;
}

.template-container{
    height: 143px;
}

.art{
    font-size: 10px;
}

.button{
    width: 150px;
}

}

/* .......................................mobile view.................................... */

@media screen and (max-width: 650px) {

.main-container{
    height: auto;
}

.heading-text{
    height: 230px;
    font-size: 10px;
}

.nav-bar{
    height: 60px;
}

.heading-icon{
    height: 60px;
}

.menu-icon{
    font-size: 16px;
    height: 60px;
}

.menu{
    display: none;
}

.first-order{
    font-size: 35px;
}

.heading-icon{
    font-size: 9px;
}

.menu-icon{
    display: flex;
    justify-content: center;
    align-items: center
    ;
}

.mountain{
    background-size: cover;
    height: 230px;
}

.logos{
    flex-direction: column;
    justify-content: space-between;
    height: 721px;
}

.dot1{
    display: none;
}

.dot2{
    display: none;
}

.white-container{
    height: 838px;
    justify-content: space-evenly;
}

.template-container{
    height: 242px;
}

.template{
    height: 400px;
    width: 90%;
    flex-direction: column;
}

.image{
    width: 300px;
}

.text{
    width: 100%;
    margin-top: 25px;
}

.template h1{
    font-size: 20px;
}

.button{
    width: 160px;
    align-self: center;
}

.iconText{
    padding-bottom: 10px;
}

.art{
    width: 65%;
}
    
}
