*{
    box-sizing: border-box;
margin: 0%;
padding: 0%;
}

.linear-gradient{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(white 50%, #ff0000 50%);
   justify-content: center;
}


.container2{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
    
}

.container1{
    display: flex;
    width: 30%;
    height: 100%;
    
    
   
    
}

.container3{
    display: flex;
    width: 30%;
    height: 100%;
    
    justify-content: flex-end;
    align-items: flex-end;
    
   
    
}

.quadrant-blue{
    background-color: dodgerblue;
    height: 25%;
    width: 40%;
  border-radius: 0px 0px 150px 0px;   
}
.quadrant-white{
    background-color: rgb(255, 255, 255);
    height: 25%;
    width: 40%;
  border-radius: 150px 0px 0px 0px;   
}
.box{
    background-color: rgb(255, 255, 255);
    height:40% ;
    width: 100%;
    box-shadow: 10px 10px 100px rgb(128, 125, 125);
}