*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ...........navbar............. */

.navBar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-image:url(./navbackground.jpg) ;
}

.icons6{
    display: flex;
    width: 190px;
    height: 50px;
    justify-content:space-evenly ;
    align-items: center;
    margin-left: 10px;
}

.a{
    display: flex;   
    color: white;
    font-size: 12px;
}

.b{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border: 1.5px solid white;
    border-radius: 50%;
}

.langCurrency{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    color: white;
    font-size: 14px;
}

.fa-chevron-down{
    font-size: 10px;
    margin-left: 5px;
}

/* ...........menubar............. */

.menuBar{
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    justify-content: space-between;
}

.menuIcon{
    display: none;
}

.logo{
    height: 36px;
    width: 150px;
    background-image: url(./logo2.png);
    background-size: 100% 100%;
    margin-left: 20px;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 60px;
}

.list ul{
    display: flex;
    list-style: none;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    letter-spacing: 1px;
}

.fa-home{
    margin-right: 5px;
    font-size: 10px;
}

.shop{
    position: relative;
}

.new{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11px;
    font-size: 6px;
    position: absolute;
    top: -9px;
    right: -15px;
    width: 24px;
    background-color: #75c5d9;
    border-radius: 50px 50px 50px 50px;
    color: white;
}

.pages{
    position: relative;
}

.hot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11px;
    font-size: 6px;
    position: absolute;
    top: -9px;
    right: -15px;
    width: 24px;
    background-color: #dd4e50;
    border-radius: 50px 50px 50px 50px; 
    color: white;
}

.buy{
    color: red;
    position: relative;
}

.sale{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11px;
    font-size: 6px;
    position: absolute;
    top: -9px;
    right: -15px;
    width: 24px;
    background-color: #e9bd55;
    border-radius: 50px 50px 50px 50px; 
    color: white;
}

.icons4{
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    font-size: 20px;
}

.badge{
    position: relative;
}

.badge span{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -6px;
    font-size: 10px;
    height: 14px;
    width: 14px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

/* ...........Blogs............. */

.blogs{
    display: flex;
    width: 100%;
    height: 255px;
}

.bag{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 100%;
    width: 33%;
    background-image: url(./backpack_puritaan_2_900x.jpg);
    background-size: 100% 100%;
}

.hands{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 100%;
    width: 34%;
    background-image: url(./8NHBORBRVR_900x.jpg);
    background-size: 100% 100%;
}

.street{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 100%;
    width: 33%;
    background-image: url(./blog_01_900x.jpg);
    background-size: 100% 100%;
}


.text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90px;
    width: 100%;
    background: rgba(0, 0, 0,.8);
    word-spacing: 1px;
}

.smallerText{
    font-size: 10px;
}

.biggerText{
    font-size: 12px;
}

.text span{
    color: #a6a5a1;
}

/* ...........2 containers............. */

.contentsheet{
    display: flex;
    justify-content: space-between;
    width: 85%;
}

/* ...........first............. */

.first{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 2025px;
    width: 72%;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 440px;
    width: 100%;
}

.i{
    background-image: url(./julia01_900x.jpg);
    background-size: 100% 100%;
}

.m{
    background-image: url(./301be29690199.560d857c7a92e_900x.jpg);
    background-size: 100% 100%;
}

.g{
    background-image: url(./Voong-bong-Castor-Design-1_900x.jpg);
    background-size: 100% 100%;
}

.text2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 390px;
    width: 94%;
    text-align: center;
    word-spacing: 2px;
}

.bgcolor{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 98px;
    width: 100%;
    background: rgba(0, 0, 0,.8);
}

.text2 span{
    color: #a6a5a1;
}

.para1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 110px;
    background-color: #e6eae8;
    padding: 0px 20px;
    font-size: 12px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 100px;
    color: #c6bca8;
    border: 2px solid #c6bca8;
    font-size: 10px;
}

.page{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100px;
}

.page p{
    text-align:center;
    word-spacing: 25px;
    height: 45px;
    width: 100%;
    padding-top: 20px;
    border-top: 2px solid black;
    font-size: 12px;
    word-spacing: 30px;
}

.page span{
    color: #bfa885;
    margin-right: 30px;
}

 /* ...........second............. */

.second{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    height: 1555px;
}

.second h1{
    font-size: 20px;
    position: relative;
}

.second h1::after{
    content: '';
    height: 2px;
    width: 63px;
    background-color: black;
    position: absolute;
    bottom: -5px;
    left: 2px;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100px;
    width: 100%;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
    padding: 0px 2px 0px 10px;
    font-size: 13px;
    color: #a4ad9f;
}

.sbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 95px;
    background-color: black;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 50px 50px 50px 50px;
}

.categories{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
}

.categories ul{
    list-style: none;
    font-size: 15px;
}

.categories li{
    height: 25px;
}

.categories span{
    color: #adaaaf;
}

.instagram{
    height: 250px;
    width: 100%;
}

.instagram h1{
    margin-bottom: 20px;
}

.gridImg{
    height: 200px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
}

.gridItem1{
    background-image: url(./grid-1.jpg);
    background-size: 100% 100%;
}

.gridItem2{
    background-image: url(./gird-2.jpg);
    background-size: 100% 100%;
}

.gridItem3{
    background-image: url(./grid-3.jpg);
    background-size: 100% 100%;
}

.gridItem4{
    background-image: url(./grid-4.jpg);
    background-size: 100% 100%;
}

.gridItem5{
    background-image: url(./grid-5.jpg);
    background-size: 100% 100%;
}

.gridItem6{
    background-image: url(./grid-6.jpg);
    background-size: 100% 100%;
}

.gridItem7{
    background-image: url(./grid-7.jpg);
    background-size: 100% 100%;
}

.gridItem8{
    background-image: url(./grid-8.jpg);
    background-size: 100% 100%;
}

.gridItem9{
    background-image: url(./grid-9.jpg);
    background-size: 100% 100%;
}

.blogTags{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.blogTags h1{
    margin-bottom: 20px;
}

.blogWrap{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.boxes{
    font-size: 15px;
    padding: 10px 5px;
    border: 1px solid black;
    margin: 10px 5px 0px 0px;
}

.products{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 300px;
}

.container{
    display: flex;
    width: 100%;
    height: 80px;
}

.pic{
    height: 80px;
    width: 60px;
}

.x{
    background-image: url(./green1_small.jpg);
    background-size: 100% 100%;
}

.y{
    background-image: url(./g-01_small.jpg);
    background-size: 100% 100%;
}

.z{
    background-image: url(./p-46_1a4bbde3-f6bf-47e7-a830-ff8b7616c644_small.jpg);
    background-size: 100% 100%;
}

.discription{
    display: flex;
    flex-direction: column;
    height: 35px;
    justify-content: space-between;
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
}

.text3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 165px;
    width: 90%;
    font-size: 14px;
}

/* ...........footer............. */

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 300px;
    font-size: 12px;
    color: white;
    background-color: #060606;
}

.addSub{
    display: none;
}

.footer h1{
    letter-spacing: 20px;
    font-weight: lighter;
}

.footercontainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:180px ;
    height: 150px;
}

.contactDetails{
    display: flex;
}

.commonicon{
    margin-right: 7px;
}

.socials{
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 15px;
}

.categories2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}

.categories2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}

.informaiton{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 205px;
}

.informaiton ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
}

.Links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}

.Links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}

.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 130px;
}

.signup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border: 2px solid white;
    border-radius: 50px 50px 50px 50px;
    padding: 0px 2px 0px 10px;
    font-size: 10px;
}

.signupButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 95px;
    background-color: #aa916d;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 50px 50px 50px 50px;
}

.cardIcons{
    display: flex;
    justify-content: space-between;
    width: 150px;
    font-size: 20px;
    color: #737373;
}

.copyRights{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: 10px;
    background-color: #141414;
    color: white;
}

.cc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.cc span{
    color: #b39973;
}

.copyRights ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 200px;
}

.btnBorder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid #b39973;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.goTopBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #b39973;
    color: white;
    text-decoration: none;
}

/* ..........................tablet.................................... */

@media screen and (max-width: 910px){

.menuIcon{
    display: block;
    margin-left: 10px;
    font-size: 20px;
}

.icons4{
    width: 130px;
}

.list{
    display: none;
}
}

/* ..........................mobile.................................... */

@media screen and (max-width: 768px){

.blogs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.bag{
    display: flex;
    height: 360px;
    width: 100%;
}

.hands{
    display: flex; 
    height: 360px;
    width: 100%;
}

.street{
    display: flex;
    height: 360px;
    width: 100%;
}

.text{
    height: 120px;
}

.contentsheet{
    width: 97%;
}

.first{
    width: 100%;
    height: 1535px;
}

.img{
    height: 360px;
}

.text2{
    height: 330px;
}

.bgcolor{
    height: 120px;
}

.second {
    display: none;
}

.footer{
    height: 750px;
}

.footercontainer{
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
}

.contact{
    width: 190px;
    align-items: center;
}

.contactDetails{
    width: 190px;
}

.contactDetails p{
    width: 169px;
}

.socials{
    width: 100%;
}

.categories2{
    height: 185px;
}

.categories2 ul{
    height: 145px;
}

.add{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.addSub{
    display: block;
    margin-left: 5px;
}

.informaiton ul{
    display: none;
}

.informaiton{
    height: 20px;
}

.Links ul{
    display: none;
}

.Links{
    height: 20px;
}

.subscribe{
    width: 250px;
}

.cardIcons{
    align-self: center;
}

.copyRights ul{
    display: none;
}

.cc{
    justify-content: center;
}

}