*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }




    .flex-container-big {
        display: flex;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
       flex-direction: row;
       align-items:center;
       justify-content: space-evenly;
    }
    .flex-container-small {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 68%;
        height: 97%;
        justify-content: space-between;
    }
      .item1 {
        background-color: rgb(247, 223, 223);
        width: 14%;
       
        height: 97%;
        
      }
      
      .item2 {
        background-color: rgb(247, 223, 223)
        ;
        color:red ;
        width: 100%;
       
        height: 49%;
        
      }
      