*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
   
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
}

.navBar{
    display: flex;
    width: 98%;
    height: 65px;
    justify-content: space-between;
    align-items: center;
}

.menuIcon{
    display: none;
}

.compName{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ICMlogo{
    width: 40px;
    height: 40px;
    background-image: url(../exercise9/th.jpg);
    background-size: cover;
    border-radius: 50%;
}

.list ul{
    display: flex;
    width: 360px;
    justify-content: space-evenly;
    height: 65px;
    align-items: center;
}

.list li{
    display: flex;
    list-style: none;
    height: 65px;
    align-items: center;
    justify-content: center;
    width: 90px;
}

.list li:hover{
    height: 65px;
    color: white;
    background-color: #0b4a97;
    cursor: pointer;
}

.active{
    height: 65px;
    color: white;
    background-color: #0b4a97;
    cursor: pointer;
}

.imageBG{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../exercise9/banner3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
.imageBG p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-style: none;
    width: 60%;
    height: 220px;
}

.bold{
    font-size: 35px;
}

.bold1{
    margin-right: 5px;
}

.headingText{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 13px;
    height: 40px;
    margin-left: 5px;
}

.headingText p{
    margin-top: -6px;
    font-size: 11px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 90%;
}

.about h1{
    height: 60px;
    font-weight: lighter;
}

.Segments{
    display: grid;
    grid-template-areas: "header  header header";
    width: 100%;
    background-color: #dddddd;
    height: 590px;
}

.gridItem1{
    grid-area: header;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: lighter;
    height: 70px;
    align-items: flex-end;
}

.a{
    display: flex;
    justify-content: center;
    height: 200px;
}

.Text6{
    background-color: white;
    height: 154px;
    width: 70%;
    padding: 20px 10px 0px 10px;
}

.Icons6{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background-color: #0b4a97;
    color: white;
    margin-left: 15px;
    padding: 16px;
    font-size: 25px;
}

.a h1{
    font-size: 15px;
    padding-bottom: 10px;
}

.a p{
    font-size: 12px;
}

.skillClient{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    height: 300px;
    grid-gap: 12%;
}

.skillClient h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    height: 80px;
}

.b{
    padding-bottom: 5px;
}

.author{
    height: 35px;
    
}

.dummy1{
    height: 10px;
    width: 85%;
    margin-bottom: 10px;
    background-color: #0b4a97;

}

.dummy2{
    height: 10px;
    width: 95%;
    margin-bottom: 10px;
    background-color: #0b4a97;
}

.dummy3{
    height: 10px;
    width: 91%;
    margin-bottom: 10px;
    background-color: #0b4a97;
}

.dummy4{
    height: 10px;
    width: 78%;
    margin-bottom: 10px;
    background-color: #0b4a97;
}

.arrows{ 
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
    font-weight: 100;
    margin-top: 15px;
}

.fa-chevron-left{
    margin-right: 10px;
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
    width: 100%;
    background-image: url(../exercise9/Employee-flight-risk-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.features h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    color: white;
    height: 85px;
}

.featureContant{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 95%;
    align-items: center;
}

.featureContant h2{
    height: 50px;
}

.cloud {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 185px;
    background-color: white;
    padding: 10px;
}

.maintenance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 185px;
    background-color: white;
    padding: 10px;
}

.clients{
    height: 190px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients h1{
    display: flex;
    align-items: flex-end;
    font-weight: lighter;
    height: 70px;
}

.img5{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    width: 100%;
}

.ewit{
    height: 70px;
    width: 120px;
    background-image: url(../exercise9/download\ \(1\).png);
    background-size: 100% 100%;
}

.sgp{
    height: 70px;
    width: 120px;
    background-image: url(../exercise9/sgp.png);
    background-size: 100% 100%;
}

.aa{
    height: 70px;
    width: 70px;
    background-image: url(../exercise9/aa\ southern\ india.jpg);
    background-size: 100% 100%;
}

.travel{
    height: 70px;
    width: 120px;
    background-image: url(../exercise9/travellife.jpeg);
    background-size: 100% 100%;
}

.aesr{
    height: 70px;
    width: 120px;
    background-image: url(../exercise9/aesc\ logo.png);
    background-size: 100% 100%;
}

.contactInfo{
    display: grid;
    grid-template-areas: "header header" "1fr 1fr" "foot foot";
    height: 500px;
    width: 100%;
    background: rgba(71, 69, 69, 0.7)url(../exercise9/sea-1265064_960_720.jpg);
    background-size: 100% 100%;
    background-blend-mode: darken;
    color: white;
    padding: 20px;
}

.contactInfo h1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    font-weight: lighter;
}

.ourDetails{
    display: flex;
    flex-direction: column;
    height: 315px;
    width: 80%;
    justify-content: space-evenly;
}

.text{
    display: flex;
}

.icon{
    padding: 0px 10px;
}

.theirInfo{
    display: grid;
    grid-template-areas: "1fr 1fr" "footer footer" ;
    grid-gap: 10px ;
    width: 100%;
}

.theirInfo h1{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    margin-bottom: 10px;
}

.message{
    grid-area: footer;
}

.textarea1{
    width: 90%;
}

.textarea2{
    width: 90%;
}

.textarea3{
    width: 95%;
    height: 200px;
}

.buttonContainer{
    display: flex;
    width: 97.6%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    grid-area: foot;
}

.button{
    display: flex;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
}

.button p{
    margin-right: 20px;
    font-size: 12px;
}

.maps{
    width: 100%;
    height: 600px;
}

.copyrightes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #1b77da;
    color: white;
    font-size: 12px;
    padding: 0px 10px;
}

.social{
    display: flex;
    width: 155px;
    justify-content: space-between;
}

.fa-facebook-f{
    color: blue;
}

.fa-google-plus-g{
    color: green;
}

.fa-linkedin{
    color: blue;
}

.fa-twitter{
    color: #2eb5e5;
}

.socialIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: white;
}

/* ................................................................................................................ */

@media screen and (max-width:768px){

    .menuIcon{
        display: flex;
        height: 64px;
        width: 50px;
        font-size: 24px;
        align-items: center;
        justify-content: center;
    }
   
    .list{
        display: none;
    }



    .imageBG{
        height: 380px;
    }

    .imageBG p {
        color: white;
        font-size: 20px;
        font-style: none;
        width: 80%;
        font-weight: lighter;
        height: 270px;
        margin-bottom: 20px;
    }

    .about{
        height: auto;
    }

    .about h1{
        display: flex;
        align-items: center;
        height: 65px;
        font-size: 25px;
    }

    .about p{
        height: auto;
        text-align: center;
        padding-bottom: 20px;
    }

    .Segments{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .gridItem1{
        align-items: center;
    }

    
    .a{
         display: flex;
         justify-content: flex-start;
         height: 180px;
    }

    .a p{
        padding-right: 10px;
    }
    
    .Text6{
        width: 72%;
    }

    .Icons6{
        height: 55px;
        width: 55px;
    }

    .skillClient{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-left: 15px;
    }

    .ourSkill{
        height: 290px;
    }

    .ourClient{
        height: 310px;
    }

    .arrows{
        padding: 15px 15px 0px 0px;
    }

    .features{
        justify-content: space-evenly;
        height: 550px;
    }

    .features h1{
        height: 50px;
    }
    
    .featureContant{
        display: flex;
        flex-direction: column;
        height: 430px;
        justify-content: space-between;
    }

    .featureContant h2{
        height: 35px;
        font-size: 20px;
    }
    
    .cloud{
        width: 85%;
        height: 200px;
    }

    .maintenance{
        width: 85%;
        height: 200px;
    }

    .clients{
        height: auto;
    }

    .clients h1{
        height: 55px;
    }

    .img5{
        height: 810px;
        flex-direction: column;
    }

    .ewit{
        height: 115px;
        width: 200px;
    }

    .sgp{
        height: 120px;
        width: 185px;
    }

    .aa{
        height: 120px;
        width: 120px;
    }

    .travel{
        height: 100px;
        width: 170px;
    }

    .aesr{
        height: 100px;
        width: 165px;
    }

    .contactInfo{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .contactInfo h1{
        height: 60px;
        align-items: flex-end;
    }

    .ourDetails{
        margin-left: 10px;
        height: 280px;
    }

    .textarea1{
        width: 95%;
    }

    .name h1{
        height: 15px;
    }

    .email h1{
        height: 15px;
    }

    .message h1{
        height: 15px;
    }

    .textarea2{
        width: 95%;
    }

    .textarea3{
        height: 175px;
    }

    .theirInfo{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .buttonContainer{
        justify-content: flex-start;
        padding-left: 10px;
        height: 95px;
    }

    .button{
        height: 35px;
    }

    .c{
        font-size: 15px;
    }

    .socialIcons{
        height: 22px;
        width: 22px;
        border-radius: 50%;
    }

}


