* {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #5b4a02;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  margin: 10px;
  height: 80px;
  width: 70%;
  justify-content: center;
  background-color: #7e6000;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
}

.logo-nav {
  display: flex;
  margin-bottom: 10px;
  height: 185px;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 66px;
  background-color: #7e6000;
  align-items: flex-end;
  justify-content: center;
}

.menu-icon {
  display: none;
  color: white;
  height: 40px;
  width: 30px;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  font-size: 25px;
  width: 60%;
  align-self: flex-end;
  color: white;
  font-family: Permanent Marker;
}

.nav-bar li:hover {
  color: chocolate;
}

li {
  width: 12%;
  height: 50px;
}

.content-sheet1{
  height:579px ;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.content-sheet {
  display: flex;
  align-items: center;
  height: 569px;
  width: 100%;
  background-color: white;
  flex-direction: column;
}

.sub-section-heading {
  display: flex;
  height: 70px;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.square-container {
  display: flex;
  height: 270px;
  width: 90%;
  border-bottom: dotted;
  align-items: center;
  justify-content: space-evenly;
}

.square {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: #7e6000;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: sans-serif;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  width: 80%;
  font-family: sans-serif;
  align-self: center;
}

.footerpara{
    font-size: 17px;
    margin-top: 20px;
    
}

.heading1 {
  font-family: Permanent Marker;
  color: #664423;
}

.heading2 {
  font-family: Permanent Marker;
  color: #664423;
}

/* ............................................mobile version................................................. */

@media screen and (max-width: 480px) {
  .main-container {
    height: auto;
  }


  .logo {
    width: 100%;
  }

  .content-sheet1{
    height: 100%;
    width: 90%;
  }

  .content-sheet{
      height: 100%;
      width: 100%;
  }

  .square-container {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .square {
    height: 250px;
    width: 250px;
    margin: 20px 0 20px 0;
    font-size: 20px;
  }

  .nav-bar ul{
      display: none;
  }

  .nav-bar{
      justify-content: flex-start;
      align-content: center;
  }

  .menu-icon{
      display: flex;
      justify-content: center;
      margin-left: 15px;
  }

.heading1{
    font-size: 15px;
    
}

.footerpara{
font-size: 17px;
}

.heading1{
    margin-top: 15px;
}

}

/* ...........................................Tablet version........................................................ */

 @media screen and (min-width: 481px) and (max-width: 768px) { 

.main-container{
    height: 100vh;
}

.nav-bar ul{
    font-size: 12px;
    height: 40px;
    width: 65%;
}

.heading1 {

    height: 70px;
    font-size: 16px;
    margin-top: 15px;
}

.square-container{
    height: 189px;
}

.square{
    height: 100px;
    width: 100px;
    font-size: 17px;
}

.heading2{
    font-size: 16px;
}

.footerpara{
    font-size: 12px;
    
}

} 

/* ................................................Laptop 1024px.................................. */

@media screen and (min-width: 769px) and (max-width: 1024px){

.main-container{
    height: 100vh;
}

    .nav-bar ul{
    font-size: 16px;
    height: 40px;
    width: 65%;
}

.content-sheet{
  height: 482px;
}

.sub-section-heading{
font-size: 14px;
}

.square-container{
    height: 180px;
}

.square{
    height: 150px;
    width: 150px;
}

.footerpara{
  font-size: 13px; 
}

}