*{
    box-sizing:border-box ;
    margin:0px;
    padding:0px;
}
body{background-color: black;
    color: white;}

    .flex-container{
        display: flex;
        width: 100%;
        height:100vh;
        background-image: linear-gradient(to bottom right, #1e90ff 50%, white 50%);
        justify-content: center;
        align-items:center;
        
    }


    .flex-item{
        
        width: 30%;
        height: 30%;
        
        background-color: rgb(211, 211, 211);
        color:black;
        
       

        
    }

