*{
    margin: 0 !important;
    padding: 0 !important;
}


.icons6{
  width: 190px;
  height: 50px;
}
.headerIconContainer{
  height: 25px;
  width: 25px;
  border: 2px solid white;
  border-radius: 50%;
}
.headerIcon{
  font-size: 13px;
}